# Node.js
node_modules/
npm-debug.log*

# Executables
*.exe

# Downloaded Media Files
*.mp3
*.mp4
*.mkv
*.webm
*.part
*.ytdl
*.webp
*.jpeg
*.jpg
*.png
*.m4a
*.wav

# Specific Download Folders
Country+Jazz Gospel Songs/
JIMMY SWAGGART/
Worship Gospel/
yt downloaded/
Yt downloaded/

# Specific Text Files
Download template.txt
pick-folder.ps1
pick-folder-only.ps1

# OS Generated
.DS_Store
Thumbs.db
